Repository HeeHeePresso/Backend, pull requests merged in 2024-03, with the labels that each got.

#9 ORDER-2 환경 셋팅 변경 및 주문 히스토리 저장 기능 구현
  order-api/build.gradle
  order-api/build.gradle.kts
  order-api/src/main/kotlin/org/heeheepresso/orderapi/OrderApiApplication.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/common/BaseEntity.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/order/OrderStatus.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistory.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistoryFacade.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistoryMapper.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistoryRepository.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistoryService.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/dto/request/OrderHistoryCreateRequest.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/dto/response/OrderHistoryCreateResponse.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/menu/OrderMenuHistory.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/menu/dto/OrderMenuHistoryDto.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/menu/dto/request/OrderMenuHistoryCreateRequest.kt
  order-api/src/main/resources/application.properties
  order-api/src/main/resources/application.yaml
  order-api/src/test/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistoryServiceTest.kt
Labels: enhancement

#31 [GW] chore: redis configuration
  gateway/build.gradle
  gateway/src/main/kotlin/org/heeheepresso/gateway/config/RedisConfig.kt
  gateway/src/main/resources/application.yml
Labels: Config, Gateway

#35 ORDER-4 GRPC 구성
  order-api/build.gradle.kts
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/grpc/OrderHistoryGrpcService.kt
  order-api/src/main/resources/application.yaml
  order-api/src/test/kotlin/org/heeheepresso/orderapi/orderHistory/grpc/GrpcGreeterServiceTest.kt
  order-grpc/.gitignore
  order-grpc/build.gradle.kts
  order-grpc/src/main/kotlin/Main.kt
  order-grpc/src/main/proto/order.proto
Labels: Order
