Repository HeeHeePresso/Backend, pull requests merged in 2024-04, with the labels that each got.

#44 feat: add grpc error handler
  order-api/build.gradle.kts
  order-api/src/main/kotlin/org/heeheepresso/orderapi/common/ApiException.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/common/ApiStatus.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/config/GlobalExceptionHandler.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/config/GrpcServerConfig.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/grpc/OrderHistoryGrpcService.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/grpc/http/orderHistoryGprc.http
  order-grpc/src/main/proto/common/error.proto
Labels: Order

#53 [Menu] 메뉴 수정요구사항 반영 #52
  menu/src/main/kotlin/org/heeheepresso/menu/MenuApplication.kt
  menu/src/main/kotlin/org/heeheepresso/menu/domain/menu/model/Category.kt
  menu/src/main/kotlin/org/heeheepresso/menu/domain/menu/model/FlagType.kt
  menu/src/main/kotlin/org/heeheepresso/menu/domain/menu/model/Menu.kt
  menu/src/test/kotlin/org/heeheepresso/menu/domain/menu/service/MenuServiceTests.kt
Labels: Refactoring, Menu

#47 [Menu/#46] 메뉴 id 목록에 대해 메뉴 정보 목록 반환 API 개발
  menu/src/main/kotlin/org/heeheepresso/menu/MenuApplication.kt
  menu/src/main/kotlin/org/heeheepresso/menu/application/config/JpaAuditingConfiguration.kt
  menu/src/main/kotlin/org/heeheepresso/menu/common/ApiResponse.kt
  menu/src/main/kotlin/org/heeheepresso/menu/common/ApiStatus.kt
  menu/src/main/kotlin/org/heeheepresso/menu/domain/menu/service/MenuService.kt
  menu/src/main/kotlin/org/heeheepresso/menu/interfaces/api/MenuController.kt
  menu/src/main/kotlin/org/heeheepresso/menu/interfaces/dto/GetMenusResponse.kt
  menu/src/test/kotlin/org/heeheepresso/menu/domain/menu/service/MenuServiceTests.kt
  menu/src/test/kotlin/org/heeheepresso/menu/interfaces/api/MenuControllerTests.kt
Labels: Feat

#50 ORDER-9 DB 셋팅
  order-api/build.gradle.kts
  order-api/src/main/kotlin/org/heeheepresso/orderapi/config/JasyptConfig.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/domain/model/OrderHistory.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/dto/request/OrderHistoryCreateRequest.kt
  order-api/src/main/resources/application.yaml
  order-api/src/main/resources/sql/order.sql
  order-api/src/test/kotlin/org/heeheepresso/orderapi/common/DataSourceConfig.kt
  order-api/src/test/kotlin/org/heeheepresso/orderapi/common/TestMySQLContainer.kt
  order-api/src/test/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistoryServiceTest.kt
  order-api/src/test/resources/application.yaml
  order-api/src/test/resources/sql/order.sql
Labels: Test, Order

#54 [GW] feat: 홈 화면 API 프레임 구현 및 리팩토링
  gateway/src/main/kotlin/org/heeheepresso/gateway/common/Context.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/event/EventService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/home/HomeController.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/home/HomePageResponse.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/home/HomeService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/home/MenuResult.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/category/MenuCategoryService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/category/dto/MenuCategoryList.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/category/dto/RecommendedCarousel.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/detail/MenuDetailService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/domain/MenuBase.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/domain/MenuDetail.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/domain/MenuInfo.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/menuDetail/MenuDetailService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/moreinfo/MenuDetailInfo.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/moreinfo/MoreInfo.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendationHandler.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendationResultSet.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendationService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendedMenu.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendedRequest.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendedResultMenu.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendedResultMenuSet.kt
  gateway/src/test/kotlin/org/heeheepresso/gateway/home/HomeServiceTest.kt
  gateway/src/test/kotlin/org/heeheepresso/gateway/menu/category/MenuCategoryServiceTest.kt
  settings.gradle
Labels: Feat, Test, Refactoring, Gateway

#58 ORDER-10 주문 내역 히스토리 조회 정렬 버그 수정
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/aplication/OrderHistoryService.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/domain/model/OrderHistory.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/domain/model/OrderMenuHistory.kt
  order-api/src/main/kotlin/org/heeheepresso/orderapi/orderHistory/domain/repository/OrderHistoryRepositoryImpl.kt
  order-api/src/test/kotlin/org/heeheepresso/orderapi/orderHistory/OrderHistoryServiceTest.kt
Labels: Fix, Order

#63 [GW] 게이트웨이 추천 서비스팀과의 통신 테스트 환경 조성
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendationResult.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendationService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/client/ErrorResponse.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/client/HomeRecommendResponse.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/client/RecommendController.kt
Labels: Hotfix, Config, Gateway

#73 [GW] fix: 메뉴 서비스와의 통신 구축
  gateway/build.gradle
  gateway/src/main/kotlin/org/heeheepresso/gateway/GatewayApplication.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/common/EurekaClientService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/config/webclient/WebClientConfig.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/category/MenuCategory.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/detail/MenuDetailService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/detail/client/MenuDetailController.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/domain/MenuInfo.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/recommendation/RecommendationService.kt
  gateway/src/main/resources/application.yml
Labels: Feat, Refactoring, Gateway

#79 [GW] Docs: 홈 화면 API Swagger 등록
  gateway/src/main/kotlin/org/heeheepresso/gateway/common/EurekaClientService.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/config/SwaggerConfig.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/config/WebClientConfig.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/config/webclient/WebClientConfig.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/home/HomeController.kt
  gateway/src/main/kotlin/org/heeheepresso/gateway/menu/detail/client/MenuDetailController.kt
  menu/src/main/resources/application.yml
Labels: Docs, Config, Refactoring, Gateway
